python-dotenv
streamlit
streamlit-chat
streamlit_option_menu
streamlit-lottie
tiktoken
faiss-cpu
pinecone
pinecone-client
langchain-openai
langchain-core
langchain-community
fitz
langchain
frontend
tools
setuptools
python-docx 
python-pptx
pypdf2
exception
pymupdf

